%h1 Declined orders
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th From
      %th To
      %th Phone
      %th Circumstance
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td #{order.from_street} #{order.from_house}
        %td #{order.to_street} #{order.to_house}
        %td= order.phone
        %td= order.circumstances
        %td= link_to 'Нах с пляжа!', admin_destroy_order_path(order), :method => 'delete', class: 'btn btn-danger pull-right'
